<div class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l12 center-align">
          <h5 class="white-text">Angie Daniela Barreto Pulido</h5>
          <div class="redes">
            <div class=" col l4 s12">
                <i class="fab fa-facebook-f face"></i>
                <a class="letra" href="https://www.facebook.com/">Facebook</a>
            </div>

            <div class=" col l4 s12">
                <i class="fab fa-instagram inst"></i>
                <a class="letra" href="https://www.instagram.com/">Intagram</a>
            </div>

            <div class=" col l4 s12">
                <i class="fab fa-whatsapp wp"></i>
                <a class="letra" href="https://web.whatsapp.com/">301 3248311</a>
            </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Actividad 5
      </div>
    </div>
  </div>
  