<app-headeradopta></app-headeradopta> 

<section class="conten-inicial-adopcion">
    <div class="container">
        <div class="contenido row">
            <div class="caja imagen col l6 s12"> </div>
            <div class="caja text col l6 s12">
                <h2>Adoptar te cambiara la vida</h2>
                <p class="parraf">Muchas personas abandonan a sus mascotas en la calle
                    mientras que
                    otras las entregan en albergues o refugios. Debido a la escases de espacio en estos lugares, en
                    muchos casos los animales son sacrificados. Los que terminan en la calle pueden morir de hambre,
                    atropellados, abusados o enfermos.<br><br>

                    Tener una mascota hará que nunca te sientas solo. Con ella puedes jugar, hacer ejercicio y hasta
                    usarla de paño de lágrimas en aquellos días grises. Son fieles compañeros, especialmente los
                    perros.
            </div>
        </div>
    </div>
</section>

<section class="conten-mascota">
    <div class="fondo-mas">
        <div class="container">
            
            <div class="mascota">
                <div class="organozar row">
                    <h1 class="center-align">Adoptame</h1>
                    <div class="Lucas cajas col l3 s12">
                        <div class="background-hover col l12">
                            <h2 class="titulo"><i class="fas fa-paw icono"></i> Lucas</h2>
                            <div>
                                <p> Lucas es muy alegre le gusta jugar, correr, es muy consentido y esta buscando un
                                    hogar donde lo acoja una hermosa familia.</p>
                                <h3>Edad: 3 Años</h3>
                            </div>
                        </div>
                    </div>

                    <div class="Akita cajas col l3 s12">
                        <div class="background-hover">
                            <h2 class="titulo"><i class="fas fa-paw icono"></i> Akita</h2>
                            <div>
                                <p> Akita es muy dormilona le gusta tomar el sol, es muy consentida y esta buscando
                                    un
                                    hogar donde lo acoja una hermosa familia.</p>
                                <h3>Edad: 4 Años</h3>
                            </div>
                        </div>
                    </div>

                    <div class="Milo cajas col l3 s12">
                        <div class="background-hover">
                            <h2 class="titulo"><i class="fas fa-paw icono"></i> Milo</h2>
                            <div>
                                <p> Milo es jugueton, muy inquieto y esta buscando un
                                    hogar donde lo acoja una hermosa familia.</p>
                                <h3>Edad: 3 Meses</h3>
                            </div>
                        </div>
                    </div>
                

                    <div class="Nala cajas col l3 s12">
                        <div class="background-hover">
                            <h2 class="titulo"><i class="fas fa-paw icono"></i> Nala</h2>
                            <div>
                                <p> Nala es muy independiente le gusta jugar, esta dispuesta a brindar cariño y esta
                                    buscando un
                                    hogar donde lo acoja una hermosa familia.</p>
                                <h3>Edad: 2 Años</h3>
                            </div>
                        </div>
                    </div>

                    <div class="Max cajas col l3 s12">
                        <div class="background-hover">
                            <h2 class="titulo"><i class="fas fa-paw icono"></i> Max</h2>
                            <div>
                                <p> Max le gusta jugar, correr, es muy inquieto y esta buscando un
                                    hogar donde lo acoja una hermosa familia.</p>
                                <h3>Edad: 1 Año</h3>
                            </div>
                        </div>
                    </div>

                    <div class="Sasha cajas col l3 s12">
                        <div class="background-hover">
                            <h2 class="titulo"><i class="fas fa-paw icono"></i> Sasha</h2>
                            <div>
                                <p> Sasha esta dispuesta a brindar su amor, es muy caroñosa y consentida y esta buscando un
                                    hogar donde lo acoja una hermosa familia.</p>
                                <h3>Edad: 1 Año</h3>
                            </div>
                        </div>
                    </div>
               

                    <div class="Coco cajas col l3 s12">
                        <div class="background-hover">
                            <h2 class="titulo"><i class="fas fa-paw icono"></i> Coco</h2>
                            <div>
                                <p> Coco es muy alegre le gusta jugar, correr, es muy consentido y esta buscando un
                                    hogar donde lo acoja una hermosa familia.</p>
                                <h3>Edad: 6 Años</h3>
                            </div>
                        </div>
                    </div>

                    <div class="Pacho cajas col l3 s12">
                        <div class="background-hover">
                            <h2 class="titulo"><i class="fas fa-paw icono"></i> Pacho</h2>
                            <div>
                                <p> Pacho es muy sociable, jugueton, peor tambien es muy independiente y esta buscando un
                                    hogar donde lo acoja una hermosa familia.</p>
                                <h3>Edad: 2 Años</h3>
                            </div>
                        </div>
                    </div>

                    <div class="Katia cajas col l3 s12">
                        <div class="background-hover">
                            <h2 class="titulo"><i class="fas fa-paw icono"></i> Katia</h2>
                            <div>
                                <p> Katia es muy tanquia y es muy consentida y esta buscando un
                                    hogar donde lo acoja una hermosa familia.</p>
                                <h3>Edad: 4 Años</h3>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
