<nav>
    <div class="nav-wrapper navegador">
        <a href="#!" class="brand-logo"><i class="fas fa-paw"></i> Pets</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons"><i class="fas fa-bars"></i></i></a>
        <ul class="right hide-on-med-and-down">
            <li><a routerLink="/inicio" class="opciones">Inicio</a></li>
            <li><a routerLink="/adopta" class="opciones">Adopta</a></li>
            <li><a routerLink="/anuncios" class="opciones">Anuncios</a></li>
            <li><a routerLink="/registro" class="opciones">Registro</a></li>
            <li><a routerLink="/asociados" class="opciones">Nuestros Asociados</a></li>
        </ul>
    </div>

    <ul class="sidenav" id="mobile-demo">
        <li><a routerLink="/inicio" class="opciones">Inicio</a></li>
        <li><a routerLink="/adopta" class="opciones">Adopta</a></li>
        <li><a routerLink="/anuncios" class="opciones">Anuncios</a></li>
        <li><a routerLink="/registro" class="opciones">Registro</a></li>
        <li><a routerLink="/asociados" class="opciones">Nuestros Asociados</a></li>
    </ul> 

</nav>
