<app-headerinicio></app-headerinicio> 

<section class="conten-inicial">
    <div class="container">
        <div class="row">
            <div class="col l12 s12">
                <h1 class="titulo">Intrduccion</h1>
            </div>
            <div class="col l12 s12 center-align valign-wrapper ">
                <p class="parrafo">Un animal de compañía o mascota es un animal domesticado que se conserva con
                    el propósito de brindar compañía o para el disfrute del cuidador. A diferencia de los animales
                    de laboratorio, animales para la crianza o ganado, animales para el transporte o animales para
                    el deporte, los animales de compañía no son conservados para traer beneficios económicos o
                    alimenticios, aunque sí un beneficio personal. <br><br>
                    
                    Los animales de compañía son seleccionados por su comportamiento, adaptabilidad y por su
                    interacción con los humanos, en la que posiblemente se utilicen como herramientas de caza o
                    seguridad. Poseer un animal de compañía puede traer beneficios a la salud, ya que el cuidado
                    diario hace olvidar a muchas personas otro tipo de preocupaciones, evita la depresión y nos hace
                    sentir útiles. Los animales de compañía más populares son el perro y el gato.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="conten-tipos">
    <div class="container ">
        <h1 class="ta">Mascotas mas comunes</h1>
        <div class="tipos row">
            <div class="cajas col l4 m12 s12 center-align">
                <h1 class="tl">Perros</h1>
                <div class="icono">
                    <i class="fas fa-dog"></i>
                </div>
                <div class=" center-align">
                    <p>El perro es animal mas popular y se dice que es el mejor amigo del homre ya que son animales
                        fieles a sus amos.
                        Es la mascota mas comun al rededor del mundo.
                    </p>
                </div>
            </div>

            <div class="cajas col l4 m6 s12">
                <h1 class="tl">Gatos</h1>
                <div class="icono">
                    <i class="fas fa-cat"></i>
                </div>
                <div>
                    <p>Se ha comprobado que tener un gato reduce el estrés. Normalmente los dueños de gatos tienen
                        una tensión arterial más baja que las personas sin mascotas.
                    </p>
                </div>
            </div>

            <div class="cajas col l4 m6 s12">
                <h1 class="tl">Pajaros</h1>
                <div class="icono">
                    <i class="fas fa-dove"></i>
                </div>
                <div>
                    <p>Los pájaros son animales inteligentes, sociales, bonitos y alegres. Dan vida a un hogar y
                        llenan la vida de melodía y felicidad.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="conten-adopcion">
    <div class="container">
        <div class="row">
            <div class="imagen col l6 s12">
                <i class="fab fa-gratipay"></i>
            </div>
            <div class="text col l6 s12">
                <h2>Adopcion de mascotas</h2>
                <p>Cuando adoptas un perrito o un gatico estás rescatando a un ser
                    que nació en las calles o que incluso fue abandonado por lo que sentirás una gran satisfacción
                    de salvarlo de la soledad y el desamor.<br><br>

                    él sentirá el cambio de estar en un albergue o fundación a estar en su nuevo hogar donde lo
                    consienten, aman y cuidan por lo cual estará agradecido contigo y te lo demostrará con su cariño
                    y lealtad.
                </p>
            </div>
        </div>
    </div>

</section>


